<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <div style="padding: 30px;">
        <h1>Translate API</h1>
        <p style="color: grey; font-size: 16px;">More info coming soon...</p>
    </div>
</body>
</html>
